@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  min-height: 100svh;
  position: relative;
  background: #010101;
}

/* Animations */

.frame1 {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 160px;
  position: relative;
  animation: frame1 1s linear forwards;
  animation-delay: 11s;
}

@keyframes frame1 {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.frame1-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  animation: frame1Container 5s linear forwards; /* make it to 1s for opacity 1 to 0 */
  /* animation-delay: 4s; */
}

@keyframes frame1Container {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}

/* @keyframes frame1Container {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

.frame1-container-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.frame1-container-heading p {
  color: #010101;
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  animation: frame1ContainerHeadingP 1s linear forwards;
  transition: all 0.3s;
}

@keyframes frame1ContainerHeadingP {
  0% {
    color: #010101;
  }
  100% {
    color: rgba(255, 255, 255, 0.5);
  }
}

.frame1-container-heading span {
  color: #010101;
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  animation: frame1ContainerHeadingP 1s linear forwards;
  animation-delay: 1s;
  transition: all 0.3s;
}

@keyframes frame1ContainerHeadingSpan {
  0% {
    color: #010101;
  }
  100% {
    color: rgba(255, 255, 255, 0.5);
  }
}

.frame1-container-heading h1 {
  color: #010101;
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  animation: frame1ContainerHeadingH1 1s linear forwards;
  animation-delay: 2s;
  transition: all 0.3s;
}

@keyframes frame1ContainerHeadingH1 {
  0% {
    color: #010101;
  }
  100% {
    color: #eaeaea;
  }
}

.frame1-container-para {
  color: #010101;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  animation: frame1ContainerPara 1s linear forwards;
  animation-delay: 3s;
  transition: all 0.3s;
}

@keyframes frame1ContainerPara {
  0% {
    color: #010101;
  }
  100% {
    color: rgba(234, 234, 234, 0.7);
  }
}

.frame1-scroll {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  animation: frame1Scroll 1s forwards;
  animation-delay: 6s;
  transition: all 0.3s;
  opacity: 0;
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 160px;
}

@keyframes frame1Scroll {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.frame1-scroll-slide {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  animation: frame1ScrollSlide 3s linear forwards;
  animation-delay: 7s;
  transition: all 0.3s;
}

@keyframes frame1ScrollSlide {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.frame1-scroll-slide h2 {
  height: 100px;
  color: rgba(234, 234, 234, 0.6);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  display: flex;
  align-items: center;
}

.frame1-scroll-slide h2:nth-child(2) {
  color: #eaeaea;
}

.frame2 {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  animation: frame2 1s linear forwards;
  animation-delay: 6s;
}

@keyframes frame2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.frame2-ellipse {
  object-fit: cover;
  animation: frame2Ellipse 2s linear forwards;
  transition: all 0.3s;
}

@keyframes frame2Ellipse {
  from {
    transform: rotate(0deg);
    width: 0px;
  }
  to {
    transform: rotate(360deg);
    width: 540px;
  }
}

.frame2-container {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  animation: frame2Container 2s linear forwards;
  animation-delay: 2s;
}

@keyframes frame2Container {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.frame2-container p {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.frame2-container span {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.frame3 {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  animation: frame3 1s linear forwards;
  animation-delay: 4s;
}

@keyframes frame3 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.frame3-background {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(-5%);
  animation: frame3Background 0.5s linear forwards;
  transition: all 0.3s;
}

@keyframes frame3Background {
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.frame3-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frame3-glare {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 30%), -50%);
  animation: frame3Glare 0.5s linear forwards;
}

@keyframes frame3Glare {
  to {
    transform: translate(calc(-50% + 150%), -50%);
  }
}

.frame3-glare-container {
  position: relative;
}

.frame3-glare-container img {
  object-fit: cover;
}

.frame3-glare-container img:first-child {
  animation: frame3GlareImg1 0.5s linear forwards;
}

@keyframes frame3GlareImg1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.frame3-glare-container img:last-child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: frame3GlareImg2 0.5s linear forwards;
}

@keyframes frame3GlareImg2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.frame3-text {
  display: flex;
  width: 708px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.frame3-text-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  opacity: 0;
  animation: frame3TextContainer 0.5s linear forwards;
}

@keyframes frame3TextContainer {
  to {
    opacity: 1;
  }
}

.frame3-text-container h2 {
  color: #eaeaea;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.frame3-text-container h2 span {
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  background: var(
    --Text-Linear,
    linear-gradient(45deg, #64b1fe 0%, rgba(249, 76, 255, 0.5) 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frame3-text-container p {
  color: rgba(234, 234, 234, 0.7);
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.44px;
}

.frame3-text-line {
  width: 392px;
  height: 1px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame3-text-line-container {
  width: 100px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(17, 17, 17, 0) 0%,
    #fff 50%,
    rgba(17, 17, 17, 0) 100%
  );
  animation: frame3TextLineContainer 0.5s linear forwards;
}

@keyframes frame3TextLineContainer {
  to {
    width: 100%;
  }
}
