@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  min-height: 100svh;
  position: relative;
  background: #010101;
}

/* Intro Animations */

.frame0 {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background: #010101;
}

.frame0 h1 {
  color: rgba(250, 250, 250, 0.4);
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.frame0 h1 span {
  color: rgba(250, 250, 250, 0.9);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.frame0-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.frame0-buttons button:hover {
  background: none;
}

.frame0-button-yes {
  width: 85px;
  display: flex;
  height: 44px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #3f3e3e;
  background: rgba(255, 255, 255, 0.2);
  color: #fafafa;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s;
  cursor: pointer;
}

.frame0-button-no {
  width: 85px;
  display: flex;
  height: 44px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 8px;
  border: 0.8px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  color: rgba(250, 250, 250, 0.8);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s;
  cursor: pointer;
}

.frame1 {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 160px;
  position: relative;
  animation: frame1 1s linear forwards;
  animation-delay: 11s;
}

@keyframes frame1 {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.frame1-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  animation: frame1Container 6s linear forwards; /* make it to 1s for opacity 1 to 0 */
  /* animation-delay: 4s; */
}

@keyframes frame1Container {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}

/* @keyframes frame1Container {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

.frame1-container-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.frame1-container-heading p {
  color: #010101;
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  animation: frame1ContainerHeadingP 1s linear forwards;
  transition: all 0.3s;
}

@keyframes frame1ContainerHeadingP {
  0% {
    color: #010101;
  }
  100% {
    color: rgba(255, 255, 255, 0.5);
  }
}

.frame1-container-heading span {
  color: #010101;
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  animation: frame1ContainerHeadingP 1s linear forwards;
  animation-delay: 1s;
  transition: all 0.3s;
}

@keyframes frame1ContainerHeadingSpan {
  0% {
    color: #010101;
  }
  100% {
    color: rgba(255, 255, 255, 0.5);
  }
}

.frame1-container-heading h1 {
  color: #010101;
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  animation: frame1ContainerHeadingH1 1s linear forwards;
  animation-delay: 2s;
  transition: all 0.3s;
}

@keyframes frame1ContainerHeadingH1 {
  0% {
    color: #010101;
  }
  100% {
    color: #eaeaea;
  }
}

.frame1-container-para {
  color: #010101;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  animation: frame1ContainerPara 1s linear forwards;
  animation-delay: 3s;
  transition: all 0.3s;
}

@keyframes frame1ContainerPara {
  0% {
    color: #010101;
  }
  100% {
    color: rgba(234, 234, 234, 0.7);
  }
}

.frame1-scroll {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  animation: frame1Scroll 1s forwards;
  animation-delay: 6s;
  transition: all 0.3s;
  opacity: 0;
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 160px;
}

@keyframes frame1Scroll {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.frame1-scroll-slide {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  animation: frame1ScrollSlide 3s linear forwards;
  animation-delay: 7s;
  transition: all 0.3s;
}

@keyframes frame1ScrollSlide {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.frame1-scroll-slide h2 {
  height: 100px;
  color: rgba(234, 234, 234, 0.6);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  display: flex;
  align-items: center;
}

.frame1-scroll-slide h2:nth-child(2) {
  color: #eaeaea;
}

.frame2 {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  animation: frame2 1s linear forwards;
  animation-delay: 6s;
}

@keyframes frame2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.frame2-ellipse {
  object-fit: cover;
  animation: frame2Ellipse 2s linear forwards;
  transition: all 0.3s;
}

@keyframes frame2Ellipse {
  from {
    transform: rotate(0deg);
    width: 0px;
  }
  to {
    transform: rotate(360deg);
    width: 540px;
  }
}

.frame2-container {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  animation: frame2Container 2s linear forwards;
  animation-delay: 2s;
}

@keyframes frame2Container {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.frame2-container p {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.frame2-container span {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.frame3 {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  animation: frame3 1s linear forwards;
  animation-delay: 4s;
}

@keyframes frame3 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.frame3-background {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(-5%);
  animation: frame3Background 0.5s linear forwards;
  transition: all 0.3s;
}

@keyframes frame3Background {
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.frame3-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frame3-glare {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 30%), -50%);
  animation: frame3Glare 0.5s linear forwards;
}

@keyframes frame3Glare {
  to {
    transform: translate(calc(-50% + 150%), -50%);
  }
}

.frame3-glare-container {
  position: relative;
}

.frame3-glare-container img {
  object-fit: cover;
}

.frame3-glare-container img:first-child {
  animation: frame3GlareImg1 0.5s linear forwards;
}

@keyframes frame3GlareImg1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.frame3-glare-container img:last-child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: frame3GlareImg2 0.5s linear forwards;
}

@keyframes frame3GlareImg2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.frame3-text {
  display: flex;
  width: 708px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.frame3-text-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  opacity: 0;
  animation: frame3TextContainer 0.5s linear forwards;
}

@keyframes frame3TextContainer {
  to {
    opacity: 1;
  }
}

.frame3-text-container h2 {
  color: #eaeaea;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.frame3-text-container h2 span {
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  background: var(
    --Text-Linear,
    linear-gradient(45deg, #64b1fe 0%, rgba(249, 76, 255, 0.5) 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frame3-text-container p {
  color: rgba(234, 234, 234, 0.7);
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.44px;
}

.frame3-text-line {
  width: 392px;
  height: 1px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame3-text-line-container {
  width: 100px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(17, 17, 17, 0) 0%,
    #fff 50%,
    rgba(17, 17, 17, 0) 100%
  );
  animation: frame3TextLineContainer 0.5s linear forwards;
}

@keyframes frame3TextLineContainer {
  to {
    width: 100%;
  }
}

.frame4-ellipse {
  opacity: 0;
  animation: frame4Ellipse 10s linear infinite;
}

@keyframes frame4Ellipse {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  20% {
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
  }
}

.frame4 .frame2-container {
  animation-delay: 0.5s;
}

.frame5 {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  animation: frame5 1s linear forwards;
  animation-delay: 5s;
}

@keyframes frame5 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.frame5-background {
  width: 100%;
  object-fit: cover;
  animation: frame5Background 1s linear forwards;
}

@keyframes frame5Background {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.frame5-container {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  opacity: 0;
  animation: frame5Background 1s linear forwards;
}

.frame5-container p {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.frame5-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  opacity: 0;
  animation: frame5Background 1s linear forwards;
  animation-delay: 1s;
}

.frame5-container-text h2 {
  color: rgba(234, 234, 234, 0.4);
  text-align: center;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.04px;
  transition: all 0.3s;
}

.frame5-container-text h2.frame5-active-text {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.04px;
}

.frame6 {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: frame6 1s linear forwards;
  animation-delay: 5s;
}

@keyframes frame6 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.frame6-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  background: #0d0015;
  position: relative;
  opacity: 0;
  animation: frame6Text 1s linear forwards;
}

@keyframes frame6Text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.frame6-text h2 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  z-index: 10;
}

.frame6-text p {
  color: rgba(234, 234, 234, 0.7);
  text-align: center;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  z-index: 10;
}

.frame6-circles {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 420px;
  aspect-ratio: 1/1;
}

.frame6-circle-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 168px;
  height: 168px;
  aspect-ratio: 1/1;
  border-radius: 250px;
  border: 1px dashed rgba(255, 255, 255, 0.05);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 4px 84px 0 #0d091e;
  backdrop-filter: blur(11.299321174621582px);
  z-index: 9;
}

.frame6-circle-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  aspect-ratio: 1/1;
  border-radius: 250px;
  border: 1px dashed rgba(255, 255, 255, 0.05);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.04) 100%
  );
  box-shadow: 0 4px 84px 0 #0d091e;
  backdrop-filter: blur(11.299321174621582px);
  z-index: 8;
  animation: frame6Circle2 1s linear forwards;
  animation-delay: 1s;
}

@keyframes frame6Circle2 {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 252px;
    height: 252px;
  }
}

.frame6-circle-3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  aspect-ratio: 1/1;
  border-radius: 250px;
  border: 1px dashed rgba(255, 255, 255, 0.05);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.04) 100%
  );
  box-shadow: 0 4px 84px 0 #0d091e;
  backdrop-filter: blur(11.299321174621582px);
  z-index: 7;
  animation: frame6Circle3 1s linear forwards;
  animation-delay: 2s;
}

@keyframes frame6Circle3 {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 336px;
    height: 336px;
  }
}

.frame6-circle-4 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  aspect-ratio: 1/1;
  border-radius: 250px;
  border: 1px dashed rgba(255, 255, 255, 0.05);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.04) 100%
  );
  box-shadow: 0 4px 84px 0 #0d091e;
  backdrop-filter: blur(11.299321174621582px);
  z-index: 6;
  animation: frame6Circle4 1s linear forwards;
  animation-delay: 3s;
}

@keyframes frame6Circle4 {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 420px;
    height: 420px;
  }
}

.frame7 {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: frame7 1s linear forwards;
  animation-delay: 5s;
}

@keyframes frame7 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.frame7-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: #0d0015;
  opacity: 0;
  animation: frame7Container 1s linear forwards;
}

@keyframes frame7Container {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.frame7-text {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.frame7-text h2 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.frame7-text p {
  text-align: center;
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(64deg, #64b1fe 18.46%, #f94cff 82.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-variant-numeric: tabular-nums;
}

.frame7-text span {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
}

.frame7-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame7-left-box {
  width: 100%;
  height: 50%;
  background:
    linear-gradient(#0d0015, #0d0015) padding-box padding-box,
    linear-gradient(
        80deg,
        rgb(255, 255, 255) 0%,
        transparent 10%,
        transparent 0%
      )
      border-box border-box;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  position: relative;
  transform: translateY(-1px);
}

.frame7-left-box::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 100%;
  background: #0d0015;
  right: -6px;
}

.frame7-right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.frame7-right-box {
  width: 100%;
  height: 50%;
  background:
    linear-gradient(#0d0015, #0d0015) padding-box padding-box,
    linear-gradient(
        260deg,
        rgb(255, 255, 255) 0%,
        transparent 10%,
        rgba(255, 255, 255, 0.2) 0%
      )
      border-box border-box;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  position: relative;
  transform: translateY(1px);
}

.frame7-right-box::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 100%;
  background: #0d0015;
  left: -6px;
}

/* Home */

.home-banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #0d0015;
  opacity: 0;
  animation: homeBanner 1s linear forwards;
}

@keyframes homeBanner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-banner-container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  padding: 22px 230px 0px 230px;
}

.home-banner-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.home-banner-circle {
  width: 100%;
  object-fit: cover;
  animation: bannerRotate 2s linear forwards;
  animation-delay: 1s;
  transform-origin: center center;
  opacity: 0;
}

@keyframes bannerRotate {
  from {
    opacity: 0;
    transform: rotate(180deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.home-banner-stars {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  object-fit: cover;
  z-index: 1;
}

.home-banner-moon {
  position: absolute;
  bottom: -65%;
  width: 90%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #0d0015;
  background: linear-gradient(180deg, #0d0015 20.85%, #0d0015 43.69%);
  box-shadow:
    0 -6px 114px 10px rgba(247, 247, 247, 0.02),
    0 0 250px 160px rgba(3, 0, 13, 0.3) inset;
}

.home-banner-glow {
  width: 90%;
  height: 38px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: homeBannerGlow 1s linear forwards;
  animation-delay: 1s;
}

@keyframes homeBannerGlow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-banner-glow-1 {
  border-radius: 100%;
  background: #c233ff;
  filter: blur(137px);
}

.home-banner-glow-2 {
  border-radius: 100%;
  background: #2b0049;
  filter: blur(42px);
}

.home-banner-glow-3 {
  border-radius: 100%;
  background: #dc74ff;
  filter: blur(92px);
}

.home-banner-heading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.home-banner-heading-label {
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  border: 1px solid #454587;
  background: radial-gradient(
    93.05% 93.05% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.01) 84.5%
  );
  box-shadow: 0 0 22px 0 rgba(94, 16, 237, 0.3) inset;
  backdrop-filter: blur(12px);
  color: #f7f7f8;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-banner-heading-label img {
  height: 24px;
  object-fit: cover;
}

.home-banner-heading-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.home-banner-heading-text h1 {
  color: #eeeef6;
  text-align: center;
  font-family: "Bricolage Grotesque";
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.home-banner-heading-text p {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.home-banner-contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 75px;
  position: relative;
  overflow: hidden;
}

.home-banner-contact-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 22px;
  background:
    radial-gradient(
      28.57% 26.19% at 50% 4.61%,
      #fff 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      52.98% 31.66% at 50% 1.71%,
      #64b1fe 0%,
      rgba(100, 177, 254, 0) 100%
    ),
    #12001f;
  backdrop-filter: blur(23.57642364501953px);
  z-index: 1;
  position: relative;
}

.home-banner-contact-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 70px 0px 20px 0px;
  border-radius: 13.965px;
  border: 1px solid var(--Linear-Bg, #010101);
  background: #0d0015;
  position: relative;
  z-index: 3;
}

.home-contact-form {
  display: flex;
  width: 100%;
  max-width: 700px;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  border: 0.8px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.home-contact-form-container {
  display: flex;
  width: 526px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.home-contact-form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  align-self: stretch;
}

.home-contact-form-input label {
  color: #e5e7eb;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.home-contact-form-input input {
  width: 100%;
  display: flex;
  height: 36px;
  padding: 4px 12px;
  align-items: center;
  align-self: stretch;
  background: none;
  border: none;
  outline: none;
  border-radius: 8px;
  border: 0.8px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  color: #6a7282;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-contact-form-input textarea {
  width: 100%;
  height: 120px;
  resize: none;
  display: flex;
  padding: 4px 12px;
  align-items: center;
  align-self: stretch;
  background: none;
  border: none;
  outline: none;
  border-radius: 8px;
  border: 0.8px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  color: #6a7282;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-banner-contact-form-button {
  width: 100%;
  display: flex;
  height: 48px;
  padding: 0 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border: none;
  border-radius: 12px;
  background: var(
    --Text-Linear,
    linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(45deg, #64b1fe 0%, rgba(249, 76, 255, 0.5) 100%)
  );
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.home-banner-contact-form-button svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.home-banner-refresh {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: #6a7282;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  transition: all 0.3s;
}

.home-banner-refresh:hover {
  color: #fff;
}

.home-banner-refresh svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.home-banner-refresh svg path {
  transition: all 0.3s;
}

.home-banner-refresh:hover svg path {
  stroke: #fff;
}

.home-banner-contact-fade {
  width: 100svw;
  height: 213px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(180deg, rgba(0, 0, 24, 0) 0%, #000018 81.31%);
  z-index: 2;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  /* Intro Animations */

  .frame0 {
    padding: 48px 20px;
  }

  .frame0 h1 {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  .frame0 h1 span {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  .frame1 {
    padding: 48px 20px;
  }

  .frame1-container {
    gap: 8px;
  }

  .frame1-container-heading {
    gap: 8px;
  }

  .frame1-container-heading p {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .frame1-container-heading span {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .frame1-container-heading h1 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .frame1-container-para {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .frame1-scroll {
    padding-left: 80px;
  }

  .frame1-scroll {
    height: 30px;
  }

  @keyframes frame1ScrollSlide {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(-30px);
    }
    75% {
      transform: translateY(-60px);
    }
    100% {
      transform: translateY(-60px);
    }
  }

  .frame1-scroll-slide h2 {
    height: 30px;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .frame2 {
    padding: 48px 20px;
  }

  @keyframes frame2Ellipse {
    from {
      transform: rotate(0deg);
      width: 0px;
    }
    to {
      transform: rotate(360deg);
      width: 100%;
    }
  }

  .frame2-container {
    padding: 0px 20px;
  }

  .frame2-container p {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  .frame2-container span {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  .frame3-background {
    height: 100%;
  }

  .frame3-glare {
    transform: translate(calc(-50% + 10%), -50%);
    animation: frame3Glare 0.5s linear forwards;
  }

  @keyframes frame3Glare {
    to {
      transform: translate(calc(-50% + 100%), -50%);
    }
  }

  .frame3-glare-container img {
    height: 189px;
    object-fit: cover;
  }

  .frame3-text {
    width: 100%;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
  }

  .frame3-text-container {
    gap: 20px;
  }

  .frame3-text-container h2 {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .frame3-text-container h2 span {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
  }

  .frame3-text-container p {
    color: rgba(234, 234, 234, 0.7);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.32px;
  }

  .frame4-ellipse {
    width: 100%;
  }

  .frame4 .frame2-container p {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
  }
}
